DB_TYPE=postgres # mongo / postgres / mock
SERVER_TYPE=http # express / http / nextJs
PORT=5000
VITE_URL=http://localhost:${PORT}
NODE_ENV=development

DB_USER='postgres'
DB_PASSWORD='secret'
DB_HOST='localhost'
DB_PORT=5432
DB_NAME='fulltodo'

EMAIL_TOKEN_SECRET='сделать_токен'
ACCESS_TOKEN_SECRET="сделать_токен"
REFRESH_TOKEN_SECRET="сделать_токен"
GOOGLE_CLIENT_ID='получить_ID'
GOOGLE_CLIENT_SECRET='получить_SECRET'

# Письма верификации идут в Mailtrap Sandbox: https://mailtrap.io/inboxes
MAILTRAP_USER=""
MAILTRAP_PASS=""

CORS_ORIGIN="http://localhost:5173"
