@import 'tailwindcss';

@theme {
  --color-accent: #0057a8;
  --color-accent-light: #d5e2fa;
  --color-accent-lighter: #0057a8c9;
  --color-grey: #595959;
  --color-grey-light: #eaeaea;
  --color-dark: #212121;
  --color-bg-second: #d9d9d9;

  --font-display: 'Jost', 'sans-serif';
}

@font-face {
  font-family: 'Jost';
  src: url('@shared/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-color: var(--color-accent-lighter) var(--color-grey-light);
  }
}
