@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: oklch(0.5 0.14 255);
  --color-light: oklch(1 0 0);
  --color-grey: oklch(0.56 0 0);
  --color-grey-light: oklch(0.937 0 0);
  --color-dark: oklch(0.25 0 0);
  --color-bg-second: oklch(0.9 0 0);

  --font-display: 'Jost', 'sans-serif';
}

@font-face {
  font-family: 'Jost';
  src: url('@shared/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@layer utilities {
  :is(.scrollbar-tasks, .scrollbar-notepads)::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  :is(.scrollbar-tasks, .scrollbar-notepads)::-webkit-scrollbar-thumb {
    background: var(--color-grey);
    border-radius: 4px;
  }

  .scrollbar-tasks::-webkit-resizer {
    background-color: var(--color-grey);
    border-radius: 40%;
  }

  .scrollbar-tasks::-webkit-scrollbar-corner {
    background-color: var(--color-grey-light);
  }

  .scrollbar-tasks::-webkit-scrollbar-track {
    background: var(--color-grey-light);
  }

  .scrollbar-notepads::-webkit-scrollbar-track {
    background: var(--color-light);
  }

  @media (orientation: landscape) and (max-height: 560px) {
    .mls\:col-span-2 {
      grid-column: span 2 / span 2;
    }

    .mls\:mt-0 {
      margin-top: 0;
    }

    .mls\:col-span-full {
      grid-column: 1 / -1;
    }

    .mls\:pr-0 {
      padding-right: 0;
    }

    .mls\:col-2 {
      grid-column: 2;
    }

    .mls\:col-3 {
      grid-column: 3;
    }

    .mls\:row-1 {
      grid-row: 1;
    }

    .mls\:grid {
      display: grid;
    }

    .mls\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .mls\:grid-rows-min {
      grid-template-rows: min-content;
    }

    .mls\:col-1 {
      grid-column: 1;
    }

    .mls\:place-self-center {
      place-self: center;
    }

    .mls\:justify-self-center {
      justify-self: center;
    }
  }
}

@layer base {
  .dark {
    --color-accent: oklch(0.32 0.06 255);
    --color-light: oklch(0.4 0.05 258);
    --color-grey: oklch(0.77 0 0);
    --color-grey-light: oklch(0.28 0.03 258);
    --color-dark: oklch(0.967 0 265);
    --color-bg-second: oklch(0.37 0.03 260);
  }
}
