@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #0057a8;
  --color-light: #ffffff;
  --color-grey: #757575;
  --color-grey-light: #eaeaea;
  --color-dark: #212121;
  --color-bg-second: #d9d9d9;

  --font-display: 'Jost', 'sans-serif';
}

@font-face {
  font-family: 'Jost';
  src: url('@shared/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-color: var(--color-accent) var(--color-grey-light);
  }
}

@layer base {
  :root {
    --color-accent: #0057a8;
    --color-light: #ffffff;
    --color-grey: #757575;
    --color-grey-light: #eaeaea;
    --color-dark: #212121;
    --color-bg-second: #d9d9d9;
  }

  .dark {
    --color-accent: #1c3454;
    --color-light: #354864;
    --color-grey: #b5b5b5;
    --color-grey-light: #1f2937;
    --color-dark: #f3f4f6;
    --color-bg-second: #374151;
  }
}
