@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: oklch(0.5 0.14 255);
  --color-light: oklch(1 0 0);
  --color-grey: oklch(0.56 0 0);
  --color-grey-light: oklch(0.937 0 0);
  --color-dark: oklch(0.25 0 0);
  --color-bg-second: oklch(0.9 0 0);

  --font-display: 'Jost', 'sans-serif';
}

@font-face {
  font-family: 'Jost';
  src: url('@shared/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@layer utilities {
  :is(.scrollbar-tasks, .scrollbar-notepads)::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  :is(.scrollbar-tasks, .scrollbar-notepads)::-webkit-scrollbar-button {
    display: none;
  }

  :is(.scrollbar-tasks, .scrollbar-notepads)::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 4px;
  }

  .scrollbar-tasks::-webkit-resizer {
    background-color: var(--color-accent);
    border-radius: 100%;
  }

  .scrollbar-tasks::-webkit-scrollbar-corner {
    background-color: var(--color-grey-light);
  }

  .scrollbar-tasks::-webkit-scrollbar-track {
    background: var(--color-grey-light);
  }

  .scrollbar-notepads::-webkit-scrollbar-track {
    background: var(--color-light);
  }
}

@layer base {
  .dark {
    --color-accent: oklch(0.32 0.06 255);
    --color-light: oklch(0.4 0.05 258);
    --color-grey: oklch(0.77 0 0);
    --color-grey-light: oklch(0.28 0.03 258);
    --color-dark: oklch(0.967 0 265);
    --color-bg-second: oklch(0.37 0.03 260);
  }
}
